@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --green: 141 73% 50%;

    --border: 210 6% 16%;

    --muted: 210 6% 12%;
    --muted-foreground: 0 0% 85%;

    --accent: 210 6% 16%;
    --accent-foreground: 0 0% 98%;
  }
  body {
    @apply bg-background text-foreground;
    font-family: sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }  
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--muted-foreground));
}